@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-success {
    background-color: green !important;
    color: white !important;
}

.toast-progress {
    background: white !important;
}
